<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>案例_可复用的搜索框组件</title>
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<h1>案例_可复用的搜索框组件</h1>
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-6">
     			<my-search v-model="search.keyword" :list="search.list" :btn-name="search.btnName"></my-search>
			</div>
			<div class="col-md-6">
				<my-search v-model="query.keyword" :list="query.list" :btn-name="query.btnName"></my-search>
			</div>
		</div>
		<input type="text" v-model="search.keyword">
   </div>

	<template id="search">
		<div class="search">
			<div class="input-group">
				<input type="search" class="form-control" :value="value" @input="changeInput($event.target.value)">
				<div class="input-group-append">
					<button class="btn btn-success">{{btnName}}</button>
				</div>
			</div>
			<search-list :result="list" :value="value"></search-list>

		</div>
	</template>
	
	<script src="lib/vue.js"></script>
	<script>
		/*
			案例_可复用的搜索框组件
				* v-model的原理
					* v-bind:value
					* v-on:input="change($event.target.value)"
		 */
		
		Vue.component('search-list',{
			props:['result','value'],
			template:`
				<ul class="list-group">
					<li class="list-group-item list-group-item-action" v-for="item in result" :class="{active:isActive(item)}">{{item}}</li>
				</ul>
			`,
			methods:{
				isActive(val){
					return val.toLowerCase() == this.value.toLowerCase();
				}
			}
		});
		
    	
    	let vm = new Vue({
    		el:'#app',
    		data:{
    			search:{
	    			keyword:'hello laoxie',
	    			btnName:'搜索',
	    			list:['CSS','HTML','Javascript','Vue','Nodejs']
    			},
    			query:{
    				keyword:'',
	    			btnName:'查询',
	    			list:['北京','上海','广州','深圳','杭州']
    			}
    		},
    		components:{
    			mySearch:{
    				props:['value','list','btnName'],
    				template:'#search',
    				methods:{
    					changeInput(val){
    						this.$emit('input',val);
    					}
    				}
    			}
    		}
    	})
		
	</script>
</body>
</html>