html{
	font-size:20px;
}
body{
	margin:0;font-size:0.6rem;
}

ul{list-style:none;padding:0;margin:0;}

.datalist{
	padding:0.5rem;
	img{height:6rem;}
	li{
		overflow:hidden;
		h4{margin:0;}
	}
}

.flexlist{
	display:flex;flex-wrap:wrap;
	li{margin:0.5rem;width:4.8rem;}
}

.piclist{
	li{
		padding-bottom:0.5rem;margin-bottom:0.5rem;border-bottom:1px dotted #ccc;
		img{float:left;margin-right:1rem;}
		.info{float:left;}
	}
}

// 使上拉加载成功实现
.mint-loadmore{overflow-y:auto;}

.details video{width:100%;height:10rem;object-fit:cover;object-position:top left}
