body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
}
#u943 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u944 {
  position:absolute;
  left:24px;
  top:12px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u946 {
  position:absolute;
  left:0px;
  top:47px;
  width:1920px;
  height:1px;
}
#u947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:0px;
  top:98px;
  width:1920px;
  height:860px;
}
#u949 {
  position:absolute;
  left:2px;
  top:422px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1564px;
  height:2px;
}
#u951 {
  position:absolute;
  left:0px;
  top:95px;
  width:1563px;
  height:1px;
}
#u952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:0px;
  top:48px;
  width:1920px;
  height:49px;
}
#u955 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u956 {
  position:absolute;
  left:258px;
  top:47px;
  width:129px;
  height:49px;
  font-size:14px;
}
#u957 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1536px;
  height:5px;
}
#u958 {
  position:absolute;
  left:387px;
  top:96px;
  width:1533px;
  height:2px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:261px;
  height:5px;
}
#u960 {
  position:absolute;
  left:0px;
  top:96px;
  width:258px;
  height:2px;
}
#u961 {
  position:absolute;
  left:2px;
  top:-7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:36px;
  top:62px;
  width:57px;
  height:20px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:152px;
  top:62px;
  width:84px;
  height:20px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u966 {
  position:absolute;
  left:24px;
  top:123px;
  width:1111px;
  height:112px;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u968 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u969 {
  position:absolute;
  left:199px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u971 {
  position:absolute;
  left:351px;
  top:0px;
  width:270px;
  height:30px;
}
#u972 {
  position:absolute;
  left:2px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u973 {
  position:absolute;
  left:621px;
  top:0px;
  width:175px;
  height:30px;
}
#u974 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u975 {
  position:absolute;
  left:796px;
  top:0px;
  width:310px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u976 {
  position:absolute;
  left:2px;
  top:6px;
  width:306px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u977 {
  position:absolute;
  left:0px;
  top:30px;
  width:199px;
  height:30px;
}
#u978 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u979 {
  position:absolute;
  left:199px;
  top:30px;
  width:152px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u980 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u981 {
  position:absolute;
  left:351px;
  top:30px;
  width:270px;
  height:30px;
  font-size:16px;
  color:#666666;
}
#u982 {
  position:absolute;
  left:2px;
  top:4px;
  width:266px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u983 {
  position:absolute;
  left:621px;
  top:30px;
  width:175px;
  height:30px;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u985 {
  position:absolute;
  left:796px;
  top:30px;
  width:310px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u986 {
  position:absolute;
  left:2px;
  top:6px;
  width:306px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:47px;
}
#u987 {
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:47px;
}
#u988 {
  position:absolute;
  left:2px;
  top:14px;
  width:195px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:47px;
}
#u989 {
  position:absolute;
  left:199px;
  top:60px;
  width:152px;
  height:47px;
}
#u990 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:47px;
}
#u991 {
  position:absolute;
  left:351px;
  top:60px;
  width:270px;
  height:47px;
  font-size:16px;
  color:#666666;
}
#u992 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u993 {
  position:absolute;
  left:621px;
  top:60px;
  width:175px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u994 {
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:47px;
}
#u995 {
  position:absolute;
  left:796px;
  top:60px;
  width:310px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u996 {
  position:absolute;
  left:2px;
  top:14px;
  width:306px;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:148px;
  top:48px;
  width:104px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u998 {
  position:absolute;
  left:262px;
  top:48px;
  width:91px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:31px;
}
#u999 {
  position:absolute;
  left:394px;
  top:66px;
  width:21px;
  height:31px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:8px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
