body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3719 {
  position:absolute;
  left:19px;
  top:12px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3720 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u3721 {
  position:absolute;
  left:9px;
  top:47px;
  width:1920px;
  height:1px;
}
#u3722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3723 {
  position:absolute;
  left:28px;
  top:87px;
  width:800px;
  height:336px;
}
#u3724 {
  position:absolute;
  left:2px;
  top:160px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3725 {
  position:absolute;
  left:858px;
  top:87px;
  width:800px;
  height:336px;
}
#u3726 {
  position:absolute;
  left:2px;
  top:160px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3727 {
  position:absolute;
  left:70px;
  top:126px;
  width:65px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3728 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3729 {
  position:absolute;
  left:70px;
  top:156px;
  width:49px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3730 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3731 {
  position:absolute;
  left:173px;
  top:126px;
  width:204px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u3733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3733 {
  position:absolute;
  left:173px;
  top:160px;
  width:69px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3734 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u3735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3735 {
  position:absolute;
  left:70px;
  top:191px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3736 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3737 {
  position:absolute;
  left:173px;
  top:191px;
  width:106px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3738 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u3739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3739 {
  position:absolute;
  left:70px;
  top:225px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3740 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3741 {
  position:absolute;
  left:173px;
  top:225px;
  width:153px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3742 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3743 {
  position:absolute;
  left:70px;
  top:260px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3744 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3745 {
  position:absolute;
  left:173px;
  top:260px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3746 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3747 {
  position:absolute;
  left:70px;
  top:292px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3748 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3749 {
  position:absolute;
  left:173px;
  top:292px;
  width:170px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3750 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u3751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3751 {
  position:absolute;
  left:173px;
  top:324px;
  width:371px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3752 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u3753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3753 {
  position:absolute;
  left:70px;
  top:324px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3754 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3755 {
  position:absolute;
  left:917px;
  top:132px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3756 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:rgba(255, 0, 0, 0.509803921568627);
}
#u3757 {
  position:absolute;
  left:1008px;
  top:121px;
  width:97px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:rgba(255, 0, 0, 0.509803921568627);
}
#u3758 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759 {
  position:absolute;
  left:28px;
  top:445px;
  width:1630px;
  height:336px;
}
#u3760 {
  position:absolute;
  left:2px;
  top:160px;
  width:1626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3761 {
  position:absolute;
  left:70px;
  top:474px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3762 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3763 {
  position:absolute;
  left:70px;
  top:537px;
  width:1271px;
  height:125px;
}
#u3764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
}
#u3764 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:30px;
}
#u3765 {
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  word-wrap:break-word;
}
#u3766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u3766 {
  position:absolute;
  left:357px;
  top:0px;
  width:153px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3767 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u3768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u3768 {
  position:absolute;
  left:510px;
  top:0px;
  width:174px;
  height:30px;
}
#u3769 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u3770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u3770 {
  position:absolute;
  left:684px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3771 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u3772 {
  position:absolute;
  left:845px;
  top:0px;
  width:211px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3773 {
  position:absolute;
  left:2px;
  top:6px;
  width:207px;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u3774 {
  position:absolute;
  left:1056px;
  top:0px;
  width:210px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3775 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:90px;
}
#u3776 {
  position:absolute;
  left:0px;
  top:30px;
  width:357px;
  height:90px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:37px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:90px;
}
#u3778 {
  position:absolute;
  left:357px;
  top:30px;
  width:153px;
  height:90px;
}
#u3779 {
  position:absolute;
  left:2px;
  top:38px;
  width:149px;
  word-wrap:break-word;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:90px;
}
#u3780 {
  position:absolute;
  left:510px;
  top:30px;
  width:174px;
  height:90px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:38px;
  width:170px;
  word-wrap:break-word;
}
#u3782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:90px;
}
#u3782 {
  position:absolute;
  left:684px;
  top:30px;
  width:161px;
  height:90px;
}
#u3783 {
  position:absolute;
  left:2px;
  top:38px;
  width:157px;
  word-wrap:break-word;
}
#u3784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:90px;
}
#u3784 {
  position:absolute;
  left:845px;
  top:30px;
  width:211px;
  height:90px;
}
#u3785 {
  position:absolute;
  left:2px;
  top:38px;
  width:207px;
  word-wrap:break-word;
}
#u3786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:90px;
}
#u3786 {
  position:absolute;
  left:1056px;
  top:30px;
  width:210px;
  height:90px;
}
#u3787 {
  position:absolute;
  left:2px;
  top:38px;
  width:206px;
  word-wrap:break-word;
}
#u3788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3788 {
  position:absolute;
  left:103px;
  top:592px;
  width:40px;
  height:40px;
}
#u3789 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3790 {
  position:absolute;
  left:161px;
  top:602px;
  width:113px;
  height:20px;
}
#u3791 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
