body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
}
#u820 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u821 {
  position:absolute;
  left:24px;
  top:12px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u823 {
  position:absolute;
  left:0px;
  top:47px;
  width:1920px;
  height:1px;
}
#u824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:0px;
  top:98px;
  width:1920px;
  height:860px;
}
#u826 {
  position:absolute;
  left:2px;
  top:422px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1564px;
  height:2px;
}
#u828 {
  position:absolute;
  left:0px;
  top:95px;
  width:1563px;
  height:1px;
}
#u829 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:0px;
  top:48px;
  width:1920px;
  height:49px;
}
#u832 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u833 {
  position:absolute;
  left:129px;
  top:47px;
  width:129px;
  height:49px;
  font-size:14px;
}
#u834 {
  position:absolute;
  left:2px;
  top:14px;
  width:125px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1665px;
  height:5px;
}
#u835 {
  position:absolute;
  left:258px;
  top:96px;
  width:1662px;
  height:2px;
}
#u836 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:132px;
  height:5px;
}
#u837 {
  position:absolute;
  left:0px;
  top:96px;
  width:129px;
  height:2px;
}
#u838 {
  position:absolute;
  left:2px;
  top:-7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839 {
  position:absolute;
  left:36px;
  top:62px;
  width:57px;
  height:20px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:270px;
  top:62px;
  width:57px;
  height:20px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u843 {
  position:absolute;
  left:36px;
  top:116px;
  width:293px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:137px;
  top:627px;
  width:140px;
  height:40px;
}
#u846 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u847 {
  position:absolute;
  left:350px;
  top:118px;
  width:1025px;
  height:20px;
  color:#FF0000;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  white-space:nowrap;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:431px;
}
#u849 {
  position:absolute;
  left:46px;
  top:160px;
  width:559px;
  height:431px;
}
#u850 {
  position:absolute;
  left:2px;
  top:208px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u851 {
  position:absolute;
  left:63px;
  top:170px;
  width:8px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u853 {
  position:absolute;
  left:63px;
  top:240px;
  width:8px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u855 {
  position:absolute;
  left:36px;
  top:392px;
  width:8px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u857 {
  position:absolute;
  left:15px;
  top:47px;
  width:104px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u858 {
  position:absolute;
  left:262px;
  top:48px;
  width:91px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:31px;
}
#u859 {
  position:absolute;
  left:394px;
  top:66px;
  width:21px;
  height:31px;
}
#u860 {
  position:absolute;
  left:2px;
  top:8px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u861 {
  position:absolute;
  left:379px;
  top:160px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
